@media only screen and (max-width: 600px){


    /*nav section*/
         .ham{
             min-width: 4rem;
             min-height: 1rem;
             border: 2px solid orange;
             position: fixed;
            right: 1%;
             top: 4.1%;
             padding: 0.5rem;
          display: block;
          z-index: 100000000;
         }
    
         
         .ham .line{
             width: 2.5rem;
             border: 2px solid orange;
             margin: 0.4rem;
         }
    
         .backblacknav{
             width: 100%;
             height: 100rem;
             position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: black;
            display: flex;
            opacity: 0.9;
            transition: 0.4s ease;
            transform: translateX(100%);
         }
    
         .backblacknavshow{
              transform: translateX(0);
         }
    
    
    
    .navtop{
        display: none;
    }


    /* navmid section */
    .navmid{
    width: 100%;
   
    justify-content: center;
    }

   .navlogo{
    width: 55%;
    /* border: 2px solid black; */
   }

   .navright{
    /* border: 2px solid black; */
    width: 50%;
   }

    .navmid .midnav{
        display: none;
    }

    .navright ul li{
    margin-left: 1rem;
    }

    .navmid .navinstext{
        display: none;
    }

    .navright .navinsimg{
        display: block;
    }

    .navright .navwish{
        display: none;
    }

    .dropitem .dropdown{
      left: -10rem;
      z-index: 10000;
    }

    
     /* end navmid section */
   
     /* navbot section */
    .navbot{
        position: fixed;
        height: 78rem;
        top:-4%;
        background-color: rgb(239, 242, 245);
        flex-direction: column;
        /* justify-content: center; */
        z-index: 10000;
        overflow-y: scroll;
        transition: 0.2s ease;
        transform: translateX(-50rem);
    }

    .navbotshow{
        transform: translateX(0);
    }
    
    .navbot .navul{
        position: relative;
        flex-direction: column;
        z-index: 1;
    }

    .navbot .navul a{
        color: black;
        font-weight: 800;
    }

    .navbot .navul .navitem{
        width: 37rem;
        margin-top: 4.3rem;
        margin-left: -1rem;
        z-index: 1;
        padding-bottom: 1.5rem;
        border-bottom: 0.1px solid rgba(0, 0, 0, 0.162);
    }

    .navbot .shopbycat .shopmain{
        margin-left: -14rem;
        z-index: 1000;
        margin-top: 12.5rem;
    }

    .shopbycat ul{
        background-color: transparent;
        color: white;
        left:-1.8rem;
        z-index: 100;
        margin-top: 2rem;
    }

    

    .navbot .logul{
        display: block;
    }

    .navbot .navsocialbot{
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 1.6rem;
      list-style: none;
      padding-left: 1.4rem;
    }

    .navbot .navsocialbot h2{
      font-size: 1.7rem;
      letter-spacing: 2px;
    }
    
    .navsocialbot img{
      width: 25px;
    }

    .navbot .navsocialbot{
      margin-top: 1rem;
    }

    .navbot .navsocialbot .navitem{
      margin-left: 1.5rem;
    }
    
    /* end navbot section */

     /* main section */
     .main{
        margin-top: 0;
        height: 50rem;
     }

     .slideshow-container img{
        height: 50rem;
     }

     .main-slide .dots{
        left: 42%;
        bottom: 8%;
     }
     /* end main section */

     /* offer section */
     .head99{
        width: 80%;
     }

     .head99 h2{
        width: 50%;
     }

     .pop-cate .popmain{
        align-items: center;
     }

     .pop-cate .popmain .popm{
        width: 35rem;
        height: 18rem;
       /* margin-left: 2rem; */
     }

     .ofm .prodoffer{
        margin-left: 0rem;
        max-height: 21rem;
        align-items: center;
     }

     .prodtextbut{
        margin: 1rem 0;
     }


     .ofm .topmain{
        justify-content: center;
      align-items: center;
     }

     .ofm .topoffer{
        margin-left: 0rem;
        align-items: center;
     }
     /* end offer section */

    

  /* category section */
  .cmain{
   margin-top: 6rem;
  }

  .cmaincont .cmainconttop .cmaint-sort{
   margin-left: 1rem;
  }

  .cmainp{
   margin-left: 0rem;
  }

  

  .cmaincontbot .cmaincright{
   height: 90%;
  }
  /* end category section  */


  /* product section */
  .prod-main{
  margin-top: 8rem;
  }

  .bot-prod-main{
   flex-direction: column;
  }

  .bot-prod-main .left-prod-main, .bot-prod-main .right-prod-main{
   width: 100%;
  }

  .right-prod-main{
   width: 100%;
  }

  .right-prod-main .prodinfo{
   width: 100%;
  }

  .right-prod-main .prodinfo .prod-button .prod-but-top{
   flex-direction: column;
   /* align-items: baseline; */
  }

  .right-prod-main .prodinfo .prod-button .prod-but-top .prod-but-top-right{
   margin-top: 2rem;
  }

  .right-prod-main .prodinfo .prod-button .prod-add,.right-prod-main .prodinfo .prod-button .prod-buy{
   margin-left: -1rem;
  }

  .right-prod-main .prodinfo .prod-button .prod-buy{
   margin-left: 2rem;
  }

  .bottom-prod-info  .product-left .prod-detail-cont .prod-detail-table{
   width: 150%;
  }

  .product-img .row{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   /* justify-content: center; */
   align-items: center;
  }

  .product-img .column{
   width: 16.60%;
   overflow: hidden;
   margin-left: 0.003rem;
  }

  .product-img .column img{
    width: 100%;
    height: 5rem;
  }

  

  /* end product section */
  .cate-main-cont .cate-m{
   justify-content: center;
  }

  .cate-main-cont .cate-m .categ{
   margin-left: 2rem;
  }
  /* all categories */

/* end all categories */
  /* category section */
  /* category 1 section */
  .catem{
   margin-top: 7rem;
  }

  .catem .catemaincont .catemaincontsec{
   padding: 1rem 0rem;
  }

.catem .catemaincont .catemaincontsec .catemain{
   width: 100%;
   margin-left: 0rem;
}

.catem .catemaincont .catemaincontsec .catemain:nth-child(1){
   margin-top: 0rem;
}

.catem .catemaincont .catemaincontsec .catemain:nth-child(1) .catemh{
   margin: 0rem 2rem;
}
  /* end category 1 section */
  /* category 2 section / deal of the day section*/
  .dealm .dealmaincontsec{
   margin-top: 1rem;
  }

  .dealm .dealmaincont .dealmaincontsec .dealmain:nth-child(1){
   margin-top: 1rem;
  }

  .dealm .dealmaincont .dealmaincontsec .dealmain{
   height: 26rem;
   margin-top: 4rem;
   margin-left: 0;
  }
  /* end category 2 section */
/* end category section */

   /* footer section */
   .footer{
      position: relative;
      padding: 1.5rem 2rem;
   }

   .footer .foottop{
      flex-direction: column;
      align-items: center;
   }

   .footer .footlogo{
      margin-left: -1rem;
     align-items: center;
   }

   /* foot list */
   .footer .foottop .footlist{
      flex-direction: column;
      margin-left: -1rem;
   }
   .footer .foottop .footlist .flist{
   align-items: center;
   text-align: center;
   }

   .footer .foottop .footlist .flist2{
      margin-left: 0rem;
      margin-top: 4rem;
   }

   
   /* end foot list */
   .footer .footmid{
   margin-top: 2rem;
   }

   .footer .footmid .footicon{
    flex-direction: column-reverse;
    height: 100%;
   }
   

   .footer .footmid .footicon .ficon{
      margin-top: 2rem;
   }

   .footer .footmid .fpayment img{
      margin-left: 1rem;
   }

   .footer .footbot{
      flex-direction: column;
      align-items: center;
   }

   .footer .footbot .dd{
      text-align: center;
   }

   .footer .footbot .copy{
      margin-left: 0rem;
      margin-top: 1rem;
   }
   /* end footer section */
    }